.home-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 45px;
}
.home-img img {
    height: 600px;
    width: auto;
}

.home-text{
    margin-top: 70px;
}
.home-text h1{
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    /* margin: 0; */
    padding: 0;
    color: cadetblue;
}

.home-p {
    margin-left: 70px;
    text-align: justify;
}
.order-btn {
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 9px;
    background-color: cadetblue;
    color: white;
}
.order-btn:hover{
    background-color: orangered;
    transition: .5s;
}
.review{
    display: block;
    margin: auto;
    text-align: center;
}
.review-design-parent{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}